<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/ic_travel"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Travel_App">
        <activity
            android:name=".PaymentActivity"
            android:exported="false" />
        <activity
            android:name=".successfull"
            android:exported="false" />
        <activity
            android:name=".OfferSummaryActivity"
            android:exported="false" />
        <activity
            android:name=".OfferPaymentActivity"
            android:exported="false" />
        <activity
            android:name=".IssueSubmittedActivity"
            android:exported="true" />
        <activity
            android:name=".ReportIssueActivity"
            android:exported="true" />
        <activity
            android:name=".pay"
            android:exported="true" />
        <activity
            android:name=".Tour"
            android:exported="true" />
        <activity
            android:name=".ArtisanFakePaymentActivity"
            android:exported="true" />
        <activity
            android:name=".PaymentSuccessActivity"
            android:exported="true" />
        <activity
            android:name=".TourSummaryActivity"
            android:exported="true" />
        <activity
            android:name=".ArtisanSummaryActivity"
            android:exported="true" />
        <activity
            android:name=".BookingSummaryActivity"
            android:exported="true" />
        <activity
            android:name=".TourDetailsActivity"
            android:exported="true" />
        <activity
            android:name=".ArtisanDetailsActivity"
            android:exported="true" />
        <activity
            android:name=".CookingDetailsActivity"
            android:exported="true" />
        <activity
            android:name=".StateDetailsActivity"
            android:exported="true" />
        <activity
            android:name=".ExploreStatesActivity"
            android:exported="true" />
        <activity
            android:name=".OfferActivity"
            android:exported="true" />
        <activity
            android:name=".TravelSafetyActivity"
            android:exported="true" />
        <activity
            android:name=".CultureActivity"
            android:exported="true" />
        <activity
            android:name=".DashboardActivity"
            android:exported="true" />
        <activity
            android:name=".HotelBookingActivity"
            android:exported="true" />
        <activity
            android:name=".HotelDetailsActivity"
            android:exported="true" />
        <activity
            android:name=".FindHotelsActivity"
            android:exported="true" />
        <activity
            android:name=".BookingActivity"
            android:exported="true" />
        <activity
            android:name=".BookFlightActivity"
            android:exported="true" />
        <activity
            android:name=".SignupActivity"
            android:exported="true" />
        <activity
            android:name=".LoginActivity"
            android:exported="true" />
        <activity
            android:name=".SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="true" />
    </application>

</manifest>